body {background: paleturquoise}
.unicorn {border: 5px solid black;
          padding: 10px;
          background: ivory;}
.princecharming {border: 2px solid gray;
                 background: lightgrey; 
                 padding: 12px 6px;
                 color: navy;
                 font-size: 24px;
                 text-align: right;}
.row {display: flex;
      justify-content: space-between;
      padding: 8px 0;}
.bella {display: inline-block;
        box-sizing: border-box;
        width: 23%;
        border: 2px solid ivory;
        background: rgb(197, 191, 191);
        font-size: 22px;
        text-align: center;
        padding: 8px;}